@model IEnumerable<TravelBlog.Models.Location>

@{
    ViewData["Title"] = "Travel Blog - Home";
    Layout = "_Layout";
}

<h1>🌴 Locations</h1>
<p>Welcome to this silly travel blog. Here's a bunch of places we're pretending we visited. 99.9% of them are made up.</p>
<ul>
	@foreach(var location in Model)
	{
	    <li>
		    @Html.ActionLink(location.Name, "Details", new {id = location.LocationId})
	    </li>
	}
</ul>

<p>@Html.ActionLink("Add a location", "Add")</p>